body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  }

  header{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    flex-direction: row;
    flex-wrap: wrap;
    color: #70757a;
  }

  .footer1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #f1f1f1;
    padding: 8px 16px;
    align-items:flex-start;
    margin-bottom: 0px;
    margin-top: 0px;
    border: 0px;
    color: #70757a;
  }
  .footer2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: #f1f1f1;
    padding: 0px 0px;
    align-items:center;
    margin-bottom: 0px;
    margin-top: 0px;
    border: 0px;
    color: #70757a;
  }

  /* Estilos para el contenedor de la portada */
  .google-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: white;
    border-radius: 8px;
    flex: 1;
  }

  /* Estilos para el logotipo de Google */
  .google-logo {
    display: flex;
    width: 300px;
    height: auto;
    margin-bottom: 20px;
  }

  /* Estilos para el formulario de búsqueda */
  .search-form {
    display: flex;
    align-items: center;
    text-align: center;
    border: 3px solid #f1f1f1;
    border-radius: 24px;
    overflow: hidden;
  }

  /* Estilos para el campo de entrada de texto */
  .search-input {
    width: 500px;
    flex: 1;
    padding: 12px;
    border: none;
    background: transparent;
    outline: none;
  }

  .buttons{
    margin-top: 20px;
  }

  /* Estilos para el botón de búsqueda */
  .search-button {
    padding: 8px 16px;
    border: none;
    background: #f1f1f1;
    color: #70757a;
    cursor: pointer;
  }

  /* Estilos para el enlace "Me siento con suerte" */
  .lucky-link {
    padding: 8px 16px;
    border: none;
    background: #f1f1f1;
    color: #70757a;
    cursor: pointer;
  }

  .nav{
    list-style: none;
    display: flex;
  }

  .nav-item{
    margin-right: 10px;
  }
  .nav2{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }

  .nav2-item{
    margin-right:5px;
    margin-left: 5px;
  }